<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/newpost">
        <input type="text" name="name" placeholder="enter your name"><br><br>
        <input type="text" placeholder="enter image link" name="postImage"><br><br>
        <textarea name="postDesc" placeholder="enter description for your post" rows="10" cols="35"></textarea><br>
        <button>Add post</button>
    </form>
</body>
</html>